# node modules
node_modules/

# build files
dist/
examples/css/atomic.css
*.tsbuildinfo

# test artifacts
artifacts/
coverage/
tmp/

# log files
npm-debug.log
*.log

# site files
app/assets/css/atomic.css
build/
docs/_site
docs/.jekyll-*
docs/.sass-cache/
docs/assets
vendor/bundle

# grunt-nodemon
.rebooted
.idea
.DS_Store

# atomic-css-snippets
snippets.json
*.vsix

# webpack-atomizer-loader
**/example/*.css
**/example/bundle.js
