# node modules
node_modules/

# build files
dist/

# test artifacts
.nyc_output/
artifacts/
coverage/

# log files
npm-debug.log
*.log

# site files
site/app/build/
site/build
site/docs/_site
site/docs/.jekyll-metadata
site/docs/.sass-cache/
site/vendor/bundle

# grunt-nodemon
.rebooted
.idea
.DS_Store