# node modules
node_modules/

# build files
dist/

# test artifacts
.nyc_output/
artifacts/
coverage/

# log files
npm-debug.log
*.log

# site files
app/build/
build
docs/_site
docs/.jekyll-metadata
docs/.sass-cache/
vendor/bundle

# grunt-nodemon
.rebooted
.idea
.DS_Store