# build dirs
build/
coverage/
dist/
node_modules/
vendor/

# files
package-lock.json

# docs
docs/assets/
docs/_site/
docs/**/*.html

# examples
examples/bundle.js
examples/**/*.css
# required for inline-block
examples/grid.html

# grunt test files
packages/grunt-atomizer/test/