# build dirs
build/
coverage/
dist/
dist-*/
node_modules/
vendor/

# files
.*
package-lock.json
*.snap

# docs
app/assets/css/atomic.css
docs/assets/
docs/_site/
docs/**/*.html

# examples
examples/bundle.js
examples/**/*.css

# required for inline-block
examples/layout.html

# grunt test files
packages/grunt-atomizer/test/

# snippets
packages/atomic-css-snippets/snippets.json