{
    "extends": ["eslint:recommended"],
    "plugins": ["mocha"],
    "env": {
        "mocha": true,
        "node": true
    },
    "rules": {
        "comma-dangle": 2,
        "mocha/no-exclusive-tests": 2,
        "no-class-assign": 0,
        "no-else-return": 2,
        "no-extend-native": 2,
        "no-extra-boolean-cast": 0,
        "no-eval": 2,
        "no-iterator": 2,
        "semi": [2, "always"]
    }
}
