.Bg\(blendenModeImages\) {
  background: url("/images/br.png"), url("/images/tr.png");
}
.Bgbm\(di\) {
  background-blend-mode: difference;
}
.Bgc\(\#000\) {
  background-color: #000;
}
.Bgc\(\#333\) {
  background-color: #333;
}
.Bgc\(\#add8e6\) {
  background-color: #add8e6;
}
.Bgc\(\#ccc\) {
  background-color: #ccc;
}
.Bgc\(\#fff\.8\) {
  background-color: rgba(255,255,255,.8);
}
.Bgc\(\$primary\) {
  background-color: #f3f3f3;
}
.C\(\#ff0000\) {
  color: #ff0000;
}
.C\(\#fff\) {
  color: #fff;
}
.C\(primary\) {
  color: #f6a1e1;
}
.D\(f\) {
  display: flex;
}
.D\(ib\) {
  display: inline-block;
}
.D\(n\)\! {
  display: none !important;
}
.As\(b\) {
  align-self: baseline;
}
.As\(c\) {
  align-self: center;
}
.As\(fe\) {
  align-self: flex-end;
}
.As\(fs\) {
  align-self: flex-start;
}
.As\(se\) {
  align-self: self-end;
}
.As\(ss\) {
  align-self: self-start;
}
.As\(st\) {
  align-self: stretch;
}
.Fld\(c\) {
  flex-direction: column;
}
.Fxf\(w\) {
  flex-flow: wrap;
}
.Ai\(b\) {
  align-items: baseline;
}
.Ai\(c\) {
  align-items: center;
}
.Ai\(fe\) {
  align-items: flex-end;
}
.Ai\(fs\) {
  align-items: flex-start;
}
.Ai\(st\) {
  align-items: stretch;
}
.Ac\(c\) {
  align-content: center;
}
.Ac\(fe\) {
  align-content: flex-end;
}
.Ac\(fs\) {
  align-content: flex-start;
}
.Ac\(sa\) {
  align-content: space-around;
}
.Ac\(sb\) {
  align-content: space-between;
}
.Ac\(se\) {
  align-content: space-evenly;
}
.Ac\(st\) {
  align-content: stretch;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(fe\) {
  justify-content: flex-end;
}
.Jc\(fs\) {
  justify-content: flex-start;
}
.Jc\(l\) {
  justify-content: left;
}
.Jc\(r\) {
  justify-content: right;
}
.Jc\(sa\) {
  justify-content: space-around;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Jc\(se\) {
  justify-content: space-evenly;
}
.Fl\(start\) {
  float: left;
}
.Fz\(2rem\) {
  font-size: 2rem;
}
.Gp\(10px\) {
  gap: 10px;
}
.H\(100\%\) {
  height: 100%;
}
.H\(200px\) {
  height: 200px;
}
.H\(20px\) {
  height: 20px;
}
.H\(300px\) {
  height: 300px;
}
.H\(uh\) {
  height: 79px;
}
.List\(n\) {
  list-style-type: none;
}
.Lh\(1\.5rem\) {
  line-height: 1.5rem;
}
.My\(1rem\) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.My\(2rem\) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Mend\(10px\) {
  margin-right: 10px;
}
.Mb\(10px\) {
  margin-bottom: 10px;
}
.Mbm\(sc\) {
  mix-blend-mode: screen;
}
.Op\(1\)\! {
  opacity: 1 !important;
}
.P\(10px\) {
  padding: 10px;
}
.P\(1rem\) {
  padding: 1rem;
}
.P\(2rem\) {
  padding: 2rem;
}
.P\(3rem\) {
  padding: 3rem;
}
.Td\(u\), .Td\(u\)\:h:hover {
  text-decoration: underline;
}
.foo > .foo\>W\(uh\) {
  width: 79px;
}
.W\(1\/12\) {
  width: 8.3333%;
}
.W\(1\/2\), .W\(6\/12\) {
  width: 50%;
}
.W\(1\/3\), .W\(4\/12\) {
  width: 33.3333%;
}
.W\(10\/12\) {
  width: 83.3333%;
}
.W\(100\%\), .W\(12\/12\) {
  width: 100%;
}
.W\(11\/12\) {
  width: 91.6667%;
}
.W\(160px\) {
  width: 160px;
}
.W\(2\/12\) {
  width: 16.6667%;
}
.W\(20px\) {
  width: 20px;
}
.W\(3\/12\) {
  width: 25%;
}
.W\(300px\) {
  width: 300px;
}
.W\(5\/12\) {
  width: 41.6667%;
}
.W\(500px\) {
  width: 500px;
}
.W\(7\/12\) {
  width: 58.3333%;
}
.W\(8\/12\) {
  width: 66.6667%;
}
.W\(9\/12\) {
  width: 75%;
}
.Cf:before, .Cf:after {
  content: " ";
  display: table;
}
.Cf:after {
  clear: both;
}
@media(min-width:500px) {
  .D\(b\)--sm {
    display: block;
  }
  .W\(1\/12\)--sm {
    width: 8.3333%;
  }
}
