/**
 */

/* always-at-the-bottom-footer ====================================== */

/**
 * The wrapper is also styled with box-sizing:border box and a min-width of 100%
 * such styling positions the footer right below the fold if the page is "too short"
 * the padding make room for the footer and the negative margin moves it up inside said padding
 */
.wrapper {
    padding-bottom: 60px;
    margin-bottom: -60px;
}

/* mouseover effect on links inside HEADER ========================== */

#header li a:before {
    pointer-events: none;
    transition: all 0.3s;
    content: '';
    left: 50%;
    top: 50%;
    width: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    opacity: 0;
}

#header li a:hover:before,
#header li a:focus:before {
    opacity: 1;
    width: 180%;
    padding-bottom: 180%;
    margin-top: -90%;
    margin-left: -90%;
}

#header li.selected a:before {
    width: 100%;
    left: 0;
    top: auto;
    right: 0;
    bottom: -14px;
    height: 5px;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 0;
    opacity: 1;
}

/**
 * .selected list item
 */
li.selected a {
    cursor: text;
}

#aside:after {
    right: 50px; /* same as padding-right on #aside */
    z-index: -1;
}

#aside li:hover a:after,
#aside li.selected a:after,
#aside:after {
    content: '';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background: rgba(2, 128, 174, 0.3);
}

/**
 * Position
 */
#aside li:hover a:after,
#aside li.selected a:after {
    right: 0;
}

#toc li {
    line-height: initial;
}

/* Colors =========================================================== */

/**
 * Foreground
 */
#aside li.selected a {
    font-weight: 500;
}

#aside li.selected a:after {
    background: #0280ae;
}

/**
 * Background
 */
pre,
input,
textarea,
.textarea,
code,
#footer {
    background: rgba(2, 128, 174, 0.05);
}

pre code {
    background: none;
    padding: 0;
}

/* info/warning/important/success boxes ============================= */

.noteBox {
    font-style: italic;
    padding: 7px 20px;
    border-radius: 2px;
}
.warning,
.info,
.important,
.success {
    border-style: solid;
    border-width: 0 7px;
}
.warning {
    border-color: #ff8b00;
    background: #ffe8be;
}

.info {
    border-color: #1d5cab;
    background: #d0e8fd;
}

.important {
    border-color: #ff0061;
    background: #ffddea;
}

.success {
    border-color: #5ed500;
    background: #e0f9c5;
}

/* embedded Code Pens =============================================== */

/**
 * The title needs to cover the Pen's tab but not the "Edit on CodePen" link
 * <heading>.penResult
 */
.penResult {
    margin-right: 180px;
    position: relative;
    z-index: 1;
}
.cp_embed_iframe {
    margin-top: -20px;
}

/* ================================================================== */
