/**
 ==================================================================
 * PROJECT SPECIFIC STUFF BELOW
 ==================================================================
 */
 
/**
 * Fancy lists
 ==================================================================
 */
.ul-list {
    list-style-type: disc;
    padding-left: 2em;
}

.ol-list {
    list-style-type: decimal;
    padding-left: 2em;
}

.dl-list dt {
    color: #000;
    font-weight: 400;
}

.dl-list dd {
    padding-left: 2em;
}

/**
 * TO COME LAST IN THIS STYLE SHEET
 * this is because React plugs <span> all over the place and they get styled by rules using selectors like "> *"
 */
.atomic span {
    display: inline;
    float: none;
}
