/**
 ==================================================================
 * PROJECT SPECIFIC STUFF BELOW
 ==================================================================
 */

/**
 * Fancy lists
 ==================================================================
 */
.ul-list,
#main ul {
    list-style-type: disc;
    padding-left: 2em;
}

.ol-list,
#main ol {
    list-style-type: decimal;
    padding-left: 2em;
}

.dl-list dt,
#main dt {
    color: var(--color-emphasis);
    font-weight: 400;
}

.dl-list dd,
#main dd {
    padding-left: 2em;
}
