@media screen and (max-width: 700px) {
    /**
     * menu (slider)
     */
    .menu-on #aside {
        animation: slide 0.3s ease-out;
        box-shadow: 1px 0 9px 1px #555;
        transform: translateY(0);
    }
    /**
     * for the footer to get this styling we'd need to move ".menu-on" higher up
     */
    .menu-on #main,
    .menu-on #footer {
        filter: blur(2px);
    }
    #aside {
        transform: translateY(-100%);
        will-change: transform;
        backface-visibility: hidden;
    }
    @keyframes slide {
        0% {
            transform: translateY(-100%);
            filter: blur(5px);
        }
        100% {
            transform: translateY(0);
        }
    }
    /**
     * no fancy marker nor right border along the side of the menu
     */
    #aside:after,
    #aside a:after {
        display: none !important;
    }
}
