pre,
code {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    max-width: 738px; /* this is inside a table-cell */
}
pre {
    padding: 10px 16px 10px 7px;
    line-height: 1.45;
    border-radius: 3px;
    background-color: var(--color-code-bg);
    border: 1px solid var(--color-code-bd);
}

/* https://github.com/jwarby/jekyll-pygments-themes/blob/master/github.css */
.highlight {
    margin: 0 0 1em;
}

.highlight .hll {
    background-color: #ffffcc;
}

/* Comment */
.highlight .c {
    color: var(--syntax-comment);
    font-style: italic;
}

/* Error
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}*/

/* Keyword */
.highlight .k {
    color: var(--syntax-primary);
    font-weight: bold;
}

/* Operator */
.highlight .o {
    color: var(--syntax-primary);
    font-weight: bold;
}

/* Comment.Multiline */
.highlight .cm {
    color: var(--syntax-comment);
    font-style: italic;
}

/* Comment.Preproc */
.highlight .cp {
    color: var(--syntax-secondary);
    font-weight: bold;
    font-style: italic;
}

/* Comment.Single */
.highlight .c1 {
    color: var(--syntax-comment);
    font-style: italic;
}

/* Comment.Special */
.highlight .cs {
    color: var(--syntax-secondary);
    font-weight: bold;
    font-style: italic;
}

/* Generic.Deleted */
.highlight .gd {
    color: var(--syntax-primary);
    background-color: #ffdddd;
}

/* Generic.Emph */
.highlight .ge {
    color: var(--syntax-primary);
    font-style: italic;
}

/* Generic.Error */
.highlight .gr {
    color: var(--syntax-error);
}

/* Generic.Heading */
.highlight .gh {
    color: var(--syntax-secondary);
}

/* Generic.Inserted */
.highlight .gi {
    color: var(--syntax-primary);
    background-color: #ddffdd;
}

/* Generic.Output */
.highlight .go {
    color: #888888;
}

/* Generic.Prompt */
.highlight .gp {
    color: #555555;
}

/* Generic.Strong */
.highlight .gs {
    font-weight: bold;
}

/* Generic.Subheading */
.highlight .gu {
    color: #aaaaaa;
}

/* Generic.Traceback */
.highlight .gt {
    color: var(--syntax-error);
}

/* Keyword.Constant */
.highlight .kc {
    color: var(--syntax-primary);
    font-weight: bold;
}

/* Keyword.Declaration */
.highlight .kd {
    color: var(--syntax-primary);
    font-weight: bold;
}

/* Keyword.Namespace */
.highlight .kn {
    color: var(--syntax-primary);
    font-weight: bold;
}

/* Keyword.Pseudo */
.highlight .kp {
    color: var(--syntax-primary);
    font-weight: bold;
}

/* Keyword.Reserved */
.highlight .kr {
    color: var(--syntax-primary);
    font-weight: bold;
}

/* Keyword.Type */
.highlight .kt {
    color: #445588;
    font-weight: bold;
}

/* Literal.Number */
.highlight .m {
    color: var(--syntax-number);
}

/* Literal.String */
.highlight .s {
    color: var(--syntax-string);
}

/* Name.Attribute */
.highlight .na {
    color: var(--syntax-variable);
}

/* Name.Builtin */
.highlight .nb {
    color: #0086b3;
}

/* Name.Class */
.highlight .nc {
    color: #445588;
    font-weight: bold;
}

/* Name.Constant */
.highlight .no {
    color: var(--syntax-variable);
}

/* Name.Decorator */
.highlight .nd {
    color: #3c5d5d;
    font-weight: bold;
}

/* Name.Entity */
.highlight .ni {
    color: #800080;
}

/* Name.Exception */
.highlight .ne {
    color: var(--syntax-tertiary);
    font-weight: bold;
}

/* Name.Function */
.highlight .nf {
    color: var(--syntax-tertiary);
    font-weight: bold;
}

/* Name.Label */
.highlight .nl {
    color: var(--syntax-tertiary);
    font-weight: bold;
}

/* Name.Property?? */
.highlight .nx {
    color: var(--syntax-tertiary);
    font-weight: bold;
}

/* Name.Namespace */
.highlight .nn {
    color: #555555;
}

/* Name.Tag */
.highlight .nt {
    color: var(--syntax-tag);
}

/* Name.Variable */
.highlight .nv {
    color: var(--syntax-variable);
}

/* Operator.Word */
.highlight .ow {
    color: var(--syntax-primary);
    font-weight: bold;
}

/* Text.Whitespace */
.highlight .w {
    color: #bbbbbb;
}

/* Literal.Number.Float */
.highlight .mf {
    color: var(--syntax-number);
}

/* Literal.Number.Hex */
.highlight .mh {
    color: var(--syntax-number);
}

/* Literal.Number.Integer */
.highlight .mi {
    color: var(--syntax-number);
}

/* Literal.Number.Oct */
.highlight .mo {
    color: var(--syntax-number);
}

/* Literal.String.Backtick */
.highlight .sb {
    color: var(--syntax-string);
}

/* Literal.String.Char */
.highlight .sc {
    color: var(--syntax-string);
}

/* Literal.String.Doc */
.highlight .sd {
    color: var(--syntax-string);
}

/* Literal.String.Double */
.highlight .s2 {
    color: var(--syntax-string);
}

/* Literal.String.Escape */
.highlight .se {
    color: var(--syntax-string);
}

/* Literal.String.Heredoc */
.highlight .sh {
    color: var(--syntax-string);
}

/* Literal.String.Interpol */
.highlight .si {
    color: var(--syntax-string);
}

/* Literal.String.Other */
.highlight .sx {
    color: var(--syntax-string);
}

/* Literal.String.Regex */
.highlight .sr {
    color: #009926;
}

/* Literal.String.Single */
.highlight .s1 {
    color: var(--syntax-string);
}

/* Literal.String.Symbol */
.highlight .ss {
    color: #990073;
}

/* Name.Builtin.Pseudo */
.highlight .bp {
    color: var(--syntax-secondary);
}

/* Name.Variable.Class */
.highlight .vc {
    color: var(--syntax-variable);
}

/* Name.Variable.Global */
.highlight .vg {
    color: var(--syntax-variable);
}

/* Name.Variable.Instance */
.highlight .vi {
    color: var(--syntax-variable);
}

/* Literal.Number.Integer.Long */
.highlight .il {
    color: var(--syntax-number);
}

@media (prefers-color-scheme: dark) {
    /* Generic.Deleted */
    .highlight .gd {
        color: var(--syntax-secondary);
        background-color: rgba(248, 81, 73, 0.15);
    }

    /* Generic.Inserted */
    .highlight .gi {
        color: #dddddd;
        background-color: rgba(46, 160, 67, 0.15);
    }
}

.language-html + .language-html {
    margin-top: 15px;
}
