/**
 * Missing in Atomic.css
 */
#atomic .D-ib {
    *display: inline;
    zoom: 1;
}

#atomic .Td-n\:h:hover,
#atomic .Td-n\:h:focus {
    text-decoration: none;
}

#atomic .C-logo\:h:hover,
#atomic .C-logo\:h:focus {
    color: #0280AE !important;
}

/**
 * always-at-the-bottom-footer
 * the wrapper is also styled with box-sizing:border box and a min-width of 100%
 * such styling positions the footer right below the fold if the page is "too short"
 * the padding make room for the footer and the negative margin moves it up inside said padding
 */
.wrapper {
    padding-bottom: 60px;
    margin-bottom: -60px;
}

/**
 * mouseover effect on links inside HEADER
 */
#header li a:before {
    pointer-events: none;
    transition: all .3s;
    content: "";
    left: 50%;
    top: 50%;
    width: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    height: 0;
    background: rgba(255, 255, 255, 0.2);;
    border-radius: 100%;
    opacity: 0;
}

#header li a:hover:before,
#header li a:focus:before {
    opacity: 1;
    width: 180%;
    padding-bottom: 180%;
    margin-top: -90%;
    margin-left: -90%;
}

#header li.selected a {
    co lor: #0280AE !important;
}

#header li.selected a:before {
    width: 100%;
    left: 0;
    top: auto;
    right: 0;
    bottom: -15px;
    height: 5px;
    margin: 0;
    padding: 0;
    background: #FFF;
    border-radius: 0;
    opacity: 1;
}


/**
 * SPLASH box on home page
 */
#splash {
    background: #fff  50%;
    background-size: 80%;
    transition: background-size .3s;
    min-height: 360px;
    background-image:url(/public/images/background.png);
}

#splash:hover {
    background-size: 400%;
}

/**
 * BACKGROUND COLORS
 */
pre,
#footer {
    background: #f6ffff;
}


/**
 * TODO: include these colors through the config?
 */
/*
.C-ff8b00 {
	background: #ff8b00;
}

.C-b61854 {
	background: #b61854;
}

.C-1d5cab {
	background: #1d5cab;
}

.C-f2438c {
	background: #f2438c;
}

.C-ff6414 {
	background: #ff6414;
}

.C-5ed500 {
	background: #5ed500;
}

.color-7 {
	background: #0077ff;
}

.C-7bff00 {
	background: #7bff00;
}
*/
