/**
 * TODO:
 *    - ".ButtonLink" should be same color as links set in base
 *    - ".NoLinkColor" should be the same as color set in body
 */

.Reset {
    padding: 0;
    margin: 0;
}

/**
 * Warning: layout can break depending on content
 */
.Bfc-hack {
    display: table-cell;
    width: 1600px;
    *width: auto;
    zoom: 1;
}

ul.u-list {
    list-style-type: disc;
}


/**
 * Warning: this styling may create line-height issue as we are resetting the value to an "arbitrary" number
 */
.SpaceBetween {
    text-align: justify;
    line-height: 0; /* kill extra white space below the container */
}

.SpaceBetween:after {
    content: "";
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.SpaceBetween > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5; /* reset to default value (from <body>) */
}

/**
 * .ButtonNaked removes the default styling of buttons
 */
.ButtonNaked,
.ButtonLink {
    background: none;
    border: 0;
}

.ButtonLink {
    color: #08c;
}

.ButtonNaked {
    padding: 0;
}

/**
 * Visually hidden (accessible to screen-readers)
 */
.Hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/**
 * Default text color
 */
.NoLinkColor,
.NoLinkColor a {
    color: #555 !important;
}

/**
 * Optimize legibility (legibility over rendering speed and geometric precision.)
 * In base.css, this style is already applied onto headings and <strong>
 */
.OptLegibility {
    -webkit-text-rendering: optimizeLegibility;
     -moz-text-rendering: optimizeLegibility;
     -ms-text-rendering: optimizeLegibility;
     -o-text-rendering: optimizeLegibility;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

/**
 * to come last in this sheet
 * this is because React plugs <span> all over the place and they get styled by rules using selectors like "> *"
 */
.atomic span {
    display: inline;
    float: none;
}
