/**
 * "justify" fails so display both as floats (left/right)
 */
#atomic #header #home {
    float: left;
}

#atomic #header ul {
    float: right;
}

/**
 * IE7 only
 */
#atomic #header li {
    *margin-left: 15px;
}

/**
 * only relevant for small viewport
 */
#atomic #toggleMenuButton {
    display: none;
}

#atomic .innerwrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/**
 * IE7 only
 */
#atomic #aside,
#atomic #main {
    *display: inline;
    *zoom: 1;
}

#atomic #aside {
    width: 150px !important;
}

#atomic #main {
    width: 620px !important;
}

/**
 * "justify" fails so display both lines as blocks
 */
#atomic #footer small {
    display: block !important;
}
