pre,
code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    max-width: 738px; /* this is inside a table-cell */
}
pre {
    padding: 30px 16px 10px 7px;
    line-height: 1.45;
    border-radius: 3px;
    background: url(https://s.yimg.com/os/acss/images/pre-background.177ebfe5.gif);
}

/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
    -webkit-text-size-adjust: none;
}

.hljs-comment {
    color: #998;
    font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword {
    color: #333;
    font-weight: bold;
}

.hljs-number,
.hljs-hexcolor {
    color: #008080;
}

.hljs-class,
.hljs-string,
.hljs-tag .hljs-value {
    color: #d14;
}

.hljs-type {
    color: #008080;
}

.hljs-literal {
    color: #000080;
}

.hljs-title,
.hljs-id {
    color: #900;
    font-weight: bold;
}

.hljs-list .hljs-keyword {
    font-weight: normal;
}

.hljs-value,
.hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title {
    color: #000080;
    font-weight: normal;
}

.hljs-attribute,
.hljs-variable {
    color: #008080;
}

.hljs-rule .hljs-attribute {
    color: #000080;
}

.hljs-regexp {
    color: #009926;
}

.hljs-built_in {
    color: #0086b3;
}

.hljs-pi,
.hljs-doctype,
.hljs-cdata {
    color: #999;
    font-weight: bold;
}
