name: Testing

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [16.x, 18.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm install
            - run: npm run lint
            - run: npm run format
            - run: npm run build
            - run: npm test

            # Use GitHub Actions' cache to shorten build times and decrease load on servers
            - uses: actions/cache@v2
              with:
                  path: vendor/bundle
                  key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
                  restore-keys: |
                      ${{ runner.os }}-gems-
            - name: Deploy
              if: ${{ github.ref == 'refs/heads/main' }}
              uses: helaili/jekyll-action@v2
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  jekyll_src: 'docs'
                  target_branch: 'gh-pages'
